<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="false">

    <targets>
        <target name="debug_console" xsi:type="AsyncWrapper" overflowAction="Grow">
            <target xsi:type="DebugSystem" layout="(${threadid}) [${level}][${logger}]: ${message}" />
        </target>
        <target name="debug_file" xsi:type="AsyncWrapper" overflowAction="Grow">
            <target xsi:type="File" deleteOldFileOnStartup="true" fileName="${basedir}/Logs/debug.log" createDirs="true" layout="[${date:format=yyyy/MM/dd-hh\:mm\:ss}] (${threadid}) [${level}][${logger}]: ${message}" />
        </target>
        <target name="log_console" xsi:type="AsyncWrapper" overflowAction="Grow">
            <target xsi:type="ColoredConsole" layout="[${level}][${logger}]: ${message}" />
        </target>
        <target name="log_file_latest" xsi:type="AsyncWrapper" overflowAction="Grow">
            <target xsi:type="File" deleteOldFileOnStartup="true" fileName="${basedir}/Logs/run.log" createDirs="true" layout="[${date:format=yyyy/MM/dd-hh\:mm\:ss}] [${level}][${logger}]: ${message}" />
        </target>
        <target name="log_file_dated" xsi:type="AsyncWrapper" overflowAction="Grow">
            <target xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}.log" createDirs="true" layout="[${date:format=yyyy/MM/dd-hh\:mm\:ss}] [${level}][${logger}]: ${message}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="log_console" />
        <logger name="*" minlevel="Trace" writeTo="debug_console" />
        <logger name="*" minlevel="Info" writeTo="log_file_latest" />
        <logger name="*" minlevel="Info" writeTo="log_file_dated" />
        <logger name="*" minlevel="Trace" writeTo="debug_file" />
    </rules>
</nlog>